{% extends 'base_products/base_products.html' %} 
{% load static %}

{% block title %}
    Отзыв о товаре
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center">Ваш отзыв о товаре</h1>
    <div class="row">
        <div class="col-2">
            <img src="{{product.image_title.url}}" width="75" alt="{{product.name}}">
        </div>
        <div class="col-10 d-flex align-items-center">
            <span>{{product.name}}</span>
        </div>
    </div>
    <div class="m-3 d-flex justify-content-start align-items-center border border-light rounded">
        <div class="p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="a0a-a3"><path fill="currentColor" d="M13 12a1 1 0 1 0-2 0v4a1 1 0 1 0 2 0v-4Zm-1-5a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z"></path><path fill="currentColor" d="M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12Zm11-9a9 9 0 1 0 0 18 9 9 0 0 0 0-18Z"></path></svg>
        </div>
        <div class="ms-2">
            <span>
                Если качество покупки вас устроило, можете поставить только оценку товара. Остальные поля - не обязательны.
            </span>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <div class="text-center">
            <div class="mb-3">
                <span>Оценка товара: </span>{{form.product_score}}
            </div>
            <div class="mb-3">
                {{form.advantages}}
            </div>
            <div class="mb-3">
                {{form.disadvantages}}    
            </div>
            <div class="mb-3">
                {{form.comment}}
            </div>
        </div>
        <div>
            <div class="text-center ms-5 me-5 pt-1 pb-1 border border-light rounded bg-dark text-white">
                    Фото товара сделают ваш отзыв полезнее. Помогите другим покупателям с выбором, добавив фотографии товара.
            </div>

            <div class="row mt-3" >
                <div class="col mb-3" style="max-width: 300px;">
                    {{form_img}}

                </div>
                
                <div class="col text-center mt-3 mb-0">
                    <div class="p-1 border border-light rounded bg-secondary text-white small" style="max-width: 400px;">
                        <p>Нажмите на кнопку или перетащите фото в эту область</p>
                        <p>до 10 изображений в формате PNG, JPEG.</p>
                    </div>
                </div>
            </div>

            <div class="p-2 text-center">
                <button type="submit" class="btn btn-primary ">Отправить отзыв</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
