{% extends 'base_products/base_products.html' %} 
{% load static %}

{% block title %}
    Отзыв о товаре
{% endblock %}


{% block content %}
<h1>Ваш отзыв о товаре</h1>
<div>
    <img src="{{product.image_title.url}}" width="200" alt="">
</div>
<div>
    <span>{{product.name}}</span>
</div>
<div>
    <p>Если качество покупки вас устроило, можете поставить только оценку товара. Остальные поля - не обязательны.</p>
</div>

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <div class="mb-3">
        {{form.product_score}}
    </div>
    <div class="mb-3">
        {{form.advantages}}
    </div>
    <div class="mb-3">
        {{form.disadvantages}}    
    </div>
    <div class="mb-3">
        {{form.comment}}
    </div>

<div class="mb-3">
    <p>
        Фото товара сделают ваш отзыв полезнее. Помогите другим покупателям с выбором, добавив фотографии товара.
    </p>
</div>
    <button type="submit" class="btn btn-primary">Отправить отзыв</button>

</form>

{% endblock %}
