{% extends 'base_cart/base_cart.html' %} 
{% load account_filters %}
{% load cart_filters %}
{% load static %}

{% block title %}
    Simple shop: cart
{% endblock %}



{% block left_side %}
<div class="title">
    <div class="row">
        <div class="col"><h4><b>Simple shop</b></h4></div>
        <!--Count_item -->
        <div class="col align-self-center text-right text-muted">
            {% if cart|length == 0 %}
                Карзина пуста
            {% endif %}
        </div>
    </div>
</div>    

<!-- Product_item -->
{% for product in cart %}                    
<div class="border-top border-bottom">
    <div class="row ms-2 me-2">
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="{{product.product.image_title.url}}"
                    alt="{{product.product.name}}" width="150">
                </div>

                <div class="col-4">
                    <div class="row">{{product.product.name}}</div>
                </div>
                <div class="col-4" >
                    <span id="product_sum_price-{{product.product.id}}">{{product.total_price}}</span><span> ₽</span>
                </div>
            </div>

        </div>
        
        <div class="col-4" >
            <select id="select-quantity-{{product.product.id}}" onchange="select_val(this.id, this.value)"
                class="form-select form-select-lg mb-3">
                {% for val in product.quantity|get_renge_from_quantity:5 %}
                    <option value="{{val}}"
                    {% if val == product.quantity %} selected="selected" {% endif %}
                    >{{val}}</option>
                {% endfor %}
            </select>
        </div>
    </div> 
</div>

{% endfor %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'cart/js/change_quantity.js' %}"></script>
<script>
    function select_val(select_id, value){
        const url = "{% url 'cart:quantity-change-ajax'%}";
        const product_id = Number(select_id.slice(-1));
        const product_price_id = "product_sum_price-" + product_id;
        console.log(product_price_id);
        change_quantity_ajax(url, product_id, value, product_price_id);
    }

</script>  


{% endblock %}

{% block right_side %}
<div><h5><b>Итог</b></h5></div>
<hr>
<div class="row">
    <!--Count_item -->
    <div class="col" style="padding-left:0;">Товаров: <span id="cart_quantity">{{cart|length}}</span></div>
    <!--Total_price -->
    <div class="col text-right"><span id="cart_total_price">{{ cart.get_total_price }}</span></div>
</div>
{% if cart|length > 0%}
    <a href="{% url 'orders:order_create' %}">
        <button class="btn_cart btn-outline-dark flex-shrink-0" type="submit" value="Create order">
            <i class="bi-cart-fill me-1"></i>
            Оформить заказ
        </button>
    </a>
{% endif %}

{% endblock %}

{% block favorite_products %}
<div>
    {% if favorite_products %}
        {% for product in favorite_products %}
            <h1>{{product.slug}}</h1>
        {% endfor %}
    {% endif %}
</div>



{% endblock %}