{% extends 'base_cart/base_cart.html' %} 

{% load account_filters %}
{% load cart_filters %}
{% load static %}

{% block title %}
    Simple shop: cart
{% endblock %}



{% block left_side %}

{% for product in cart %}                    
<div class="p-2 border-bottom">
    <div class="row">
        <div class="col-3 text-center">
            <img class="img-fluid rounded float-start" src="{{product.product.image_title.url}}"
            alt="{{product.product.name}}">
        </div>
        <div class="col-5">
            <div>{{product.product.name}}</div>
            <div class="row p-0 m-0 float-start">
                <button class="btn btn-link btn-sm">Удалить</button>
            </div>
        </div>
        <div class="col-4 float-end">
            <span id="product_sum_price-{{product.product.id}}">{{product.total_price}}</span><span> ₽</span>
            <select id="select-quantity-{{product.product.id}}" onchange="select_val(this.id, this.value)"
                class="form-select form-select-sm mb-3 float-end" style="max-width: 60px;">
                {% for val in product.quantity|get_renge_from_quantity:5 %}
                    <option value="{{val}}"
                    {% if val == product.quantity %} selected="selected" {% endif %}
                    >{{val}}</option>
                {% endfor %}
            </select>
        </div>
    </div> 
</div>

{% endfor %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'cart/js/change_quantity.js' %}"></script>
<script>
    function select_val(select_id, value){
        const url = "{% url 'cart:quantity-change-ajax'%}";
        const product_id = Number(select_id.slice(-1));
        const product_price_id = "product_sum_price-" + product_id;
        console.log(product_price_id);
        change_quantity_ajax(url, product_id, value, product_price_id);
    }

</script>  


{% endblock %}

{% block right_side %}
<div class="row">
    <div class="col">Товаров: <span id="cart_quantity">{{cart|length}}</span></div>
    <div class="col"><span id="cart_total_price">{{ cart.get_total_price }}</span></div>
</div>
<div class="mt-3 text-center">
    {% if cart|length > 0%}
        <form action="{% url 'orders:order_create' %}">
            <button class="btn btn-outline-dark flex-shrink-0" type="submit"  value="Create order">
                <i class="bi-cart-fill me-1"></i>
                Оформить заказ
            </button>
        </form>
    {% endif %}
    {% endblock %}
</div>

{% block favorite_products %}
<div class="mt-3 mb-3">
    {% if favorite_products %}
    <h4 class="text-center">Похожие товары</h4>
    <div class="row">
        {% for product in favorite_products %}
            <div class="col">
                <div class="p-0 m-0 border">
                    <a href="{{product.get_absolute_url}}">
                        <img class="img-fluid rounded float-start p-2" src="{{product.image_title.url}}" 
                        alt="{{product.name}}">
                        </a>
                    <h5 class="text-center">{{product.price}}</h5>
                </div>
            </div>
            
        {% endfor %}
    </div>
    {% endif %}
</div>



{% endblock %}