{% extends 'base_cart/base_cart.html' %} 
{% block title %} Checkout {% endblock%} 

{% block left_side %}

<!-- <h1>Checkout</h1>
<div>
  <h3>Your order</h3>
  <ul>
    {% for item in cart %}
      <li>
        {{ item.quantity }}x {{ item.product.name }}
        <span>${{ item.total_price|floatformat:2 }}</span>
      </li>
    {% endfor %}
  </ul>
  <p>Total: ${{ cart.get_total_price|floatformat:2 }}</p>
</div> -->
<form action="" method="post">
  {% csrf_token %} {% for field in form %}
  <div class="form-group">
    {{ field.errors }} {{ field.label_tag }} {{ field }}
  </div>
  {% endfor %}

    <button class="btn btn-outline-dark flex-shrink-0" type="submit" value="Submit">
      <i class="bi-cart-fill me-1"></i>
      Оформить
  </button>
</form>

{% endblock %} 

{% block right_side %}
<div><h5><b>Итог</b></h5></div>
<hr>
<div class="row">
    <!--Count_item -->
    <div class="col" style="padding-left:0;">Товаров: {{cart|length}}</div>
    <!--Total_price -->
    <div class="col text-right">{{ cart.get_total_price }}</div>
</div>

{% if cart|length > 0%}


<form>
    <p class="text-danger">SHIPPIN Поле не готово</p>
    <!--Shipping options -->
    <select><option class="text-muted">Standard-Delivery- €5.00</option></select>
    <!--Promocode -->

    <p class="text-danger">GIVE CODE Поле не готово</p>
    <input id="code" placeholder="Enter your code">
</form>
<!--Total_price -->

<div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
    <div class="col">Общая цена</div>
    <div class="col text-right">{{ cart.get_total_price }}</div>
</div>

    <a href="{% url 'orders:order_create' %}">
        <button class="btn btn-outline-dark flex-shrink-0" type="submit" value="Create order">
            <i class="bi-cart-fill me-1"></i>
            Применить
        </button>
    </a>
{% endif %}


{% endblock %}