{% extends 'base_account/base_account.html' %} 
{% load static %}

{% block content %}  
    <div class="container m-0 p-0 mt-5">   
        <div class="row">
            <div class="col-3 m-0 p-0">
                <h5 class="font-weight-bold text-center text-lg-start">Чаты</h5>
        
                <div class="pt-2 pb-2">
                    {% for chat in chats %}
                        <div class="pt-2 pb-2 text-center">
                            <a href="{% url 'support:chat' chat.pk %}">
                                <button type="button" class="btn btn-outline-primary position-relative" style="min-width: 170px;">
                                    {{chat.type.name }}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="chat-unread-{{chat.pk}}">
                                    {{chat.unread }}
                                    <span class="visually-hidden">unread messages</span>
                                    </span>
                                </button>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-8 pb-5 ps-2" >
                {% block messages %}
                {% endblock %}
            </div>
    
        </div>
    
    </div>

  
{% endblock %}