{% load cache %}
{% cache 900 categiries_in_nav_bar %}

<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        href=""
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >Категории</a
    >
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
        <a class="dropdown-item" href="{% url 'shop:product_list' %}"
            >Все катоегории
        </a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        {% for c in categories %}
            <li >
            <a href="{{ c.get_absolute_url }}" class="dropdown-item">{{ c.name }}</a>
            </li>
        {% endfor %}
    </ul>
</li>
{% endcache %}