<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        {% include "shop/product/include/product_slider_galleries.html" %}
      </div>
      
      <div class="col-md-6">
        <div class="small mb-1">SKU: {{product.slug}}</div>
        <h1 class="display-5 fw-bolder text-center">{{product.name}}</h1>
        <div>
          {% with rating=product.rating %}
              {% include "shop/product/include/product_stars.html" %}
          {% endwith %}
        </div>
        <div class="text-center">
          {% include "shop/product/include/product_tags.html" %}
        </div>
        <div class="fs-5 mb-3 text-center">
          <h3>${{product.price}}</h3>
        </div>
        <p class="lead">
          {{product.description}}
        </p>
        <div class="d-flex justify-content-center">
            {% include "shop/product/include/button_in_cart.html" %}
        </div>


      </div>
    </div>
  </div>
</section>
