{% load account_filters %}
<div class="col mb-5">
    <div class="card h-100 d-flex align-items flex-column">

        <div class="mb-auto p-2">
            <!-- Sale badge-->
            <div class="d-flex justify-content-between">
                <div class="badge bg-dark text-white" >Sale</div>
                <button
                {% if product.id in compare.get_all_products %} class="btn btn-success btn-sm"
                {% else %} class="btn btn-primary btn-sm"
                {% endif %} id="buttom-in-compare-{{product.id}}" onclick="in_compare('{{product.id}}')">сравнить</button>
            </div>
            <!-- Product image-->
            <a href="{{product.get_absolute_url}}">
            <img class="card-img-top" src="{{product.image_title.url}}" alt="{{product.name}}">
            </a>
        </div>

        <!-- Product details-->
        <div class="p-2">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{product.name}}</h5>
                <!-- Product reviews-->
                {% with rating=product.rating %}
                    {% include "shop/product/include/product_stars.html" %}
                {% endwith %}

                <!-- Product price-->
                <span class="text-muted text-decoration-line-through"> {{product.price_old}} ₽</span>
                {{product.price}} ₽

                {% include "shop/product/include/product_tags.html" %}

            </div>
        </div>

        <!-- Product actions-->
        <div class="p-2">
          <div class="card-footer d-flex justify-content-center">
              {% with products_in_cart_quantity=cart.get_products_with_quantity|get_item:product.id %}
                  {% include "shop/product/include/button_in_cart.html" %}
              {% endwith %}
          </div>
        </div>
    </div>
</div>