{% extends 'base_products/base_products.html' %} 
{% load static %}

{% block title %}
    {{product.category.name}}: {{product.name}}
{% endblock %}

{% block categories %}
    {% include "shop/product/include/nav_bar_categories.html" %}
{% endblock categories %}


{% block content %}

    {% include "shop/product/include/product_card_single.html" %}
    
    {% if related_products%}
        <h2 class="fw-bolder mb-4 text-center">Похожие товары</h2>
        {% include "shop/product/include/related_product_for_detail.html" %}
    {% endif %}
{% endblock %}
