{% extends 'base_account/base_account.html' %} 
{% load static %}

{% block title %}
    Личный кабинет
{% endblock %}


{% block orders %}

<div>
    <h1 class="text-center">Hello {{account.user}}</h1>
    <h2>Заказы</h2>
    {% if orders%}
    <div class="d-flex flex-column bd-highlight mb-3">
        {% for order in orders %}  
        <div class="my-2">

            <div class="p-2 bd-highlight border border-5 border-primary">
                <div class="row">
                    <div class="col-8">
                        <span>Заказ от {{order.created}}</span>
                    </div>
                    <div class="col-4">
                        {% if order.paid %}
                            <span class="p-1 bg-success text-white rounded-pill">Оплачено: {{order.get_total_cost}} ₽</span>
                        {% else %}
                            <span class="p-1 bg-warning text-dark rounded-pill">Не оплачено: {{order.get_total_cost}} ₽</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div>
                            <span>Доставка: 7 мая </span>
                        </div>
                        <div>
                            <span>Доставка курьером</span>
                            <span class="p-1 bg-success text-white rounded-pill">Доставка статус</span>
                        </div>
                    </div>            
                    <div class="col-4 my-1">
                        {% for item in order.items.all %}
                        <img src="{{ item.product.image_title.url }}" alt="{{ item.product.name}}" width="50">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>     
        {% endfor %}
    </div>
    {% else %}
        <h2>Вы еще ничего не покупали =(</h2>
    {% endif %}

{% endblock %}
